hr {
    height: 2px;
    color: black;
    background-color: black;
    width: 95%;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 120%;
}

.contents {
    margin-left: 5%;
    margin-right: 5%;
}

.child-content {
    border: 2px solid black;
    padding-bottom: 2%;
    margin-bottom: 1%;
}

.button {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 140%;
}

.answer-button {
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    font-size: 140%;
    width: 12%;
}